<header class="lol-header">
  <div class="logo-container">
    <img class="header-icon" src="/LoL.ico" alt="LoL icon">
    <span class="lol-logo">LEAGUE OF LEGENDS</span>
  </div>
  
  <nav class="main-nav">
    <ul>
      <li><a href="#" (click)="goHome($event)">Inicio</a></li>
      <li><a href="#" (click)="goToChampions($event)">Campeones</a></li>
      <li><a href="character/multiplerole">Multirole</a></li>
      <li><a href="soporte">Soporte</a></li>
    </ul>
  </nav>

  <div class="action-container">
    <button class="play-button">JUGAR AHORA</button>
  </div>
</header>