<footer class="lol-footer">
  <div class="footer-content">
    <div class="riot-logo">
      RIOT GAMES
    </div>
    
    <div class="footer-links">
      <a href="#">Política de Privacidad</a>
      <a href="#">Términos de Servicio</a>
      <a href="#">Preferencias de Cookies</a>
      <a href="character/tank">Tanques</a>
    </div>
    
    <p class="copyright">
      © 2026 Riot Games, Inc. League of Legends y Riot Games son marcas comerciales o marcas registradas de Riot Games, Inc.
    </p>
  </div>
</footer>